    @(titles: List[String], roots: List[String], rules_number:Integer)
<!DOCTYPE html>
<html>
<head>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body>
<h2>选择题面初始图形</h2>
<form action="transpolyselect" method="post" id="tryitform" name="tryitform">
<input type="button" value="选择题面初始图形" onClick="submitTryit()">
<table border="1">
@for( in <-0 until (roots.length/8+1)) {
  <tr>
  @if(in<(roots.length/8)){
      @for( in2<-0 until 8){
          <td>
          <div id="poly">
          <input type="radio" name="rootstate" value=@(in*8+in2) />
          <h4>@titles(in*8+in2)</h4>
          @Html(roots(in*8+in2))
          </div>
          </td>
      }
  }else{
      @for( in2<-0 until (roots.length%8)){
          <td>
          <div id="poly">
          <input type="radio" name="rootstate" value=@(in*8+in2) />
          <h4>@titles(in*8+in2)</h4>
          @Html(roots(in*8+in2))
          </div>
          </td>
      }
  }
  </tr>
}
</table>

  <input type="hidden" id="select" name="select"  />
</form>

<script type="text/javascript">
function submitTryit()
{
    var els = document.getElementById("tryitform").elements;
    var checked = 0;
    for(var i=0;i<els.length;i++)
    {
        if(els[i].type=="radio"||els[i].type=="checkbox"){
            if(els[i].checked)checked++;
        }
    }
    if(checked==0){
        alert("请选择一个题面初始图形");
        return;
    }
document.getElementById("tryitform").submit();
}
</script>
    </body>
</html>